.layout{
	height:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.layout-item{
	display: inline-flex;
}
header.header{
	background-color: #404040;
	height:45px;
	width:100%;
}
.container{

}